@model IEnumerable<SnowOverFlow.Models.Country>
@using SnowOverFlow.Utility
@{
    ViewData["Title"] = "Index";
}
<div class="The-Favorite-Site">
    <h2>Search By Countries</h2>
</div>
<p>
    @using (Html.BeginForm("Index", "Countries", FormMethod.Get))
    {
        <b>Search by:</b>@Html.RadioButton("searchBy", "Name")<text>Name</text>
        @Html.RadioButton("searchBy", "Language")<text>Language</text>
        @Html.RadioButton("searchBy", "Continent")<text>Continent</text>
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>
<p>
    @if (User.IsInRole(SD.AdminEndUser))
    {
        <a asp-action="Create">Create New</a>
        <i class="far fa-plus-square"></i>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
        </tr>
    </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No rows match search criteria </td>
            </tr>
        }

        else
        {
     
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Continent.Name)
                    </td>
                    <td>
                        @if (User.IsInRole(SD.AdminEndUser))
                        {
                            @Html.Partial("_TableButtonPartialAdmin", item.ID)
                        }
                        @if (!User.IsInRole(SD.AdminEndUser))
                        {
                            @Html.Partial("_TableButtonPartial", item.ID)
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
    </table>

