@model IEnumerable<SnowOverFlow.Models.Country>
@using SnowOverFlow.Utility
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole(SD.AdminEndUser))
    {
        <a asp-action="Create">Create New</a>
    }
    <a asp-action="AveRankCountry">Average Country Rank</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                   @Html.DisplayNameFor(model => model.Continent)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent.Name)
            </td>
            <td>
                @if (User.IsInRole(SD.AdminEndUser))
                {
                    @Html.Partial("_TableButtonPartialAdmin", item.ID)
                }
                @if (!User.IsInRole(SD.AdminEndUser))
                {
                    @Html.Partial("_TableButtonPartial", item.ID)
                }
            </td>
            <td></td>
        </tr>
}
    </tbody>
</table>
