@model SnowOverFlow.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>Site</h4>
    <div id="googleMap" style="height:400px;width:100%;"></div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longtitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longtitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pistes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pistes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeerPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeerPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.Currency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var Latitude = '@Model.Latitude';
    var Longtitude = '@Model.Longtitude'
    console.log('model')
    function myMap() {
        var myCenter = new google.maps.LatLng(Latitude, Longtitude);
        var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({ position: myCenter });
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9U27ZROmVD4qAONCZEM5QD0OJydE0Sz0&callback=myMap"></script>
